body{
    background: url(abstract-uv-ultraviolet-light-composition.jpg) no-repeat 0 0;
    background-size: 100%;

}

a {
  text-decoration: none;
  color: rgb(142, 87, 245);
}

.bottom-left {
  display: grid;
  grid-template-columns: 85px 95px 85px;
  position: absolute;
  top: 30px;
  margin-left: 70%;
  font-family: Impact;
  font-size: 24px;
  text-shadow: rgb(83, 83, 83) 0px 5px 12px;
}

.contact h4 {
    margin-top: 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-left: 10%;
    text-shadow: rgb(122, 53, 53) 0px 5px 12px;
}

.info p {
    margin-left: 17%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    color:rgb(231, 209, 209);
}

.image img {
    margin-left: 25%;
    margin-top: 3%;
    opacity: 0.8;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);